.dialog-item {
  .ant-modal-title {
    &::before {
      content: '';
      display: inline-block;
      background-color: blue;
      width: 4px;
      height: 14px;
      border-radius: 4px;
      margin-right: 4px;
    }
  }

  .ant-modal-header {
    background: rgba(52, 138, 234, 8%);
    padding: 14px 24px;
  }

  .ant-modal-body {
    padding: 0 24px;
  }
}
